<h1><%= " #{current_user.full_name}'s Notifications" %></h1><br>

<h1>Unread</h1>
<% @notifications.unread.each do |notification| %>
  <%= render 'notification', notification: notification %>
<% end %><br><br>

<h1>Read</h1>
<% @notifications.read.each do |notification| %>
  <%= render 'notification', notification: notification %>
<% end %><br><br>
