<div class="section">
<h1 class="title is-5"><%= "Notifications" %></h1>

<h1 class="notification-subtitle">Unread</h1>
<% @notifications.unread.each do |notification| %>
  <div class="notification-div">
    <%= render 'notification', notification: notification %>
  </div>
<% end %><br>

<h1 class="notification-subtitle">Read</h1>
<% @notifications.read.each do |notification| %>
  <div class="notification-div">
    <%= render 'notification', notification: notification %>
    <%= link_to image_tag('delete.png', alt: 'delete'), notification_path(id: notification.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "image is-16x16" %>
  </div>
<% end %>
</div>
