<div class="section">
<h1 class="title is-5"><%= "Notifications" %></h1>

<h1 class="notification-subtitle">Unread</h1>
<% @notifications.unread.each do |notification| %>
  <%= render 'notification', notification: notification %>
<% end %><br>

<h1 class="notification-subtitle">Read</h1>
<% @notifications.read.each do |notification| %>
  <%= render 'notification', notification: notification %>
<% end %>
</div>
