  <div class="avatar-name is-flex is-align-items-center">
    <figure class="image is-32x32">
      <%= render 'users/avatar', user: user %>
    </figure>
    <%= link_to user.full_name, user, class: 'has-text-success-dark has-text-weight-semibold' %>
  </div>