<% user.friends.each do |friend| %>
  <div class="block is-flex">
    <figure class="image is-48x48">
      <%= render 'users/avatar', user: friend %>
    </figure>
    <%= link_to friend.full_name, friend %>
  </div>
<% end %>
