<div class="profile-friends-section">

  <div>
  <% if user.friends.length == 0 %>
    <%= "#{user.full_name} has no friends" %>
  <% else %>
    <% user.friends.each do |friend| %>
      <%= render 'users/list', user: friend %>
    <% end %>
  <% end %>
  </div><br>
  <div>
    <% unless user.pending_friends.length == 0 %>
      <h1 class="has-text-weight-medium is-size-6">Pending Friends</h1>
      <% user.pending_friends.each do |friend| %>
        <%= render 'users/list', user: friend %>
      <% end %>
    <% end %>
  </div>
</div>
