<h1><%= "#{@user.full_name}'s Friend Page" %></h1>

<h2>Friend Requests</h2><br><br>

<h2>Your Friends</h2>
<% @user.friends.each do |friend| %>
  <%= link_to friend.full_name, friend %>
<% end %><br><br>

<h2>Pending Friends</h2>
<% @user.friendships.pending.each do |friendship| %>
  <%= link_to friendship.friend.full_name, friendship.friend %>
<% end %><br><br>


<h2>Accepted Friends</h2>
<% @user.friendships.accepted.each do |friend| %>
  <%= link_to friendship.friend.full_name, friendship.friend %>
<% end %><br><br>

