<h1><%= "#{@user.full_name}'s Friend Page" %></h1>

<h2>Friend Requests</h2><br><br>

<h2>Pending Friends Sent</h2>

<% @user.pending_friends_sent.each do |friend| %>
  <%= link_to friend.full_name, friend %>
<% end %><br><br>


<h2>Accepted Friends Sent</h2>
<% @user.accepted_friends_sent.each do |friend| %>
  <%= link_to friend.full_name, friend %>
<% end %><br><br>

