.prof-image {
  width: 200px;
}


/* CSS for tabs on user show page */
input[type="radio"], .tab-pane { display: none; }

#posts:checked ~ .tab-content > .content-posts,
#friends:checked ~ .tab-content > .content-friends, {
  display: block;
}